[submodule "services/gateway"]
	path = services/gateway
	url = https://github.com/Virus288/Monsters-gateway
[submodule "services/users"]
	path = services/users
	url = https://github.com/Virus288/Monsters-users
[submodule "services/messages"]
	path = services/messages
	url = https://github.com/Virus288/Monsters-messages
